.container1 {
    width: 700px;
    border: 3px solid black;
    margin: auto;
    padding: 5px;
}

img {
    float: right;
    margin: 20px;
}

.container2 {
    width: 600px;
    border: 3px solid black;
    margin: 50px auto;
    padding: 5px;
}

.kotak {
    width: 90px;
    height: 90px;
    background-color: tomato;
    text-align: center;
    line-height: 90px;
    font-size: 50px;
    margin: 4px;
    float: right;
}

.container3, .container4 {
    width: 800px;
    border: 3px solid black;
    margin: 50px auto;
    padding: 5px;
}

.kiri {
    width: 150px;
    height: 500px;
    background-color: yellow;
    float: left;
}

.tengah {
    width: 500px;
    height: 500px;
    background-color: wheat;
    float: left;
}

.kanan {
    width: 150px;
    height: 500px;
    background-color: violet;
    float: left;
}

.container4 .kanan{
    float: right;
}



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }